app/.devcontainer
app/docker
app/docker.compose*
app/.git
app/.git*
app/.dockerignore
app/.vagrant
app/.idea
app/.DS_Store
app/.htaccess
app/.vscode
app/*.lock
app/*.md
app/*.js
app/*.sh
app/.*.yml
app/*.yml
app/data/*
app/plugins/*
app/tests
app/ChangeLog
app/composer.json
app/custom-hooks
app/Dockerfile
app/Makefile
app/Vagrantfile
app/web.config
app/assets/css/src
app/assets/vendor
